.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.summer {
  background-color: orange;
}

.winter {
  background-color: aliceblue;
}

.icon-top {
  position: absolute;
  top: 1%;
  left: 1%;
}

.icon-bottom {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.sun {
  color: red;
}

.snowflake {
  color: blue;
}
